<!-- Template that is used as a base to this code is taken from:
https://github.com/PacktPublishing/Practical-Python-Programming-for-IoT/tree/master/chapter03 -->
<!DOCTYPE html>
<html>
<head>
    <title>Smart Home System Demo</title>
    <script src="/static/jquery.min.js"></script>
    <script src="/static/socket.io.js"></script>                            
    <script type="text/javascript">

        var socket = io();

        socket.on('connect', function() {                                     
            console.log("Connected to Server");
            $("#connected").html("Yes");
        });

        socket.on('disconnect', function() {                                 
            console.log("Disconnected from the Server");
            $("#connected").html("No");
        });
        
        //Takes value from server for led1.
        socket.on('led1', function(dataFromServer) {                         
            console.log(dataFromServer)
            if (dataFromServer.level !== undefined) {
                $("input[type=checkbox].checkboxOne").val(dataFromServer.level);
                $("#checkboxOne").html(dataFromServer.level);
            }
        });

        //Takes value from server for led2.
        socket.on('led2', function(dataFromServer) {                         
            console.log(dataFromServer)
            if (dataFromServer.level !== undefined) {
                $("input[type=checkbox].checkboxTwo").val(dataFromServer.level);
                $("#checkboxTwo").html(dataFromServer.level);
            }
        });

        //Sends value to the server for led1.
        $(document).ready(function() {                                       
            // Event listener for value changes.
            $("input[type=checkbox].checkboxOne").on('click', function(){
                level = $(this).val();
                payload = {"level": level};
                socket.emit('led1', payload);
            });
        });

        //Sends value to the server for led2.
        $(document).ready(function() {                                       
            // Event listener for value changes.
            $("input[type=checkbox].checkboxTwo").on('click', function(){
                level = $(this).val();
                payload = {"level": level};
                socket.emit('led2', payload);
            });
        });
    </script>
</head>
<body>
    <h1>Smart Home System Demo</h1>
    LED is connected to GPIO {{pin}}<br>
    Connected to server: <span id="connected">No</span>                    
    <br><br>
    <input type="checkbox" value="" class="checkboxOne">
    <input type="checkbox" value="" class="checkboxTwo">
</body>
</html>