<!-- Template that is used as a base to this code is taken from:
https://github.com/PacktPublishing/Practical-Python-Programming-for-IoT/tree/master/chapter03 -->
<!DOCTYPE html>
<html>
<head>
    <title>Smart Home System</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" 
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    
    <style>
    .fas {
      /* color: rgb(112, 112, 196); */
      color: black;
    }
    .card-deck {
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 20px;
    }
    </style>

    <script src="/static/jquery.min.js"></script>
    <script src="/static/socket.io.js"></script>   
                             
    <script type="text/javascript">

        var socket = io();

        socket.on('connect', function() {                                     
            console.log("Connected to Server");
            $("#connected").html("Yes");
        });

        socket.on('disconnect', function() {                                 
            console.log("Disconnected from the Server");
            $("#connected").html("No");
        });
        
        //Takes value from server for led1.
        socket.on('relay1', function(dataFromServer) {                         
            console.log(dataFromServer)
            if (dataFromServer.state !== undefined) {
                $("#buttonOne").val(dataFromServer.state);
                // $("#checkboxOne").html(dataFromServer.state);
            }
        });

        //Takes value from server for led2.
        socket.on('relay2', function(dataFromServer) {                         
            console.log(dataFromServer)
            if (dataFromServer.state !== undefined) {
                $("#buttonTwo").val(dataFromServer.state);
                // $("#checkboxTwo").html(dataFromServer.state);
            }
        });

        //Sends value to the server for led1.
        $(document).ready(function() {  
            //temp value is used for tracking if the button is clicked. 
            temp1=1;                                    
            // Event listener for value changes.
            $("#buttonOne").on('click', function(){
                if(temp1%2==1){
                    state = 1;
                    payload = {"state": state};
                    socket.emit('relay1', payload);
                    temp1=2;
                }else{
                    state = 0;
                    payload = {"state": state};
                    socket.emit('relay1', payload);
                    temp1=1;
                }
            });
        });

        //Sends value to the server for led2.
        $(document).ready(function() { 
            //temp value is used for tracking if the button is clicked.   
            temp2=1;                                    
            // Event listener for value changes.
            $("#buttonTwo").on('click', function(){
                if(temp2%2==1){
                    state = 1;
                    payload = {"state": state};
                    socket.emit('relay2', payload);
                    temp2=2;
                }else{
                    state = 0;
                    payload = {"state": state};
                    socket.emit('relay2', payload);
                    temp2=1;
                }
            });
        });
    </script>
</head>
<body>
    <div class="jumbotron text-center">
        <h1>Smart Home System</h1>
    </div>
    <!-- LED is connected to GPIO {{pin}}<br>
    Connected to server: <span id="connected">No</span> -->
    <br>
    <div class="card-deck">
        <div class="card">
          <div class="card-body text-center">
            <i class="fas fa-temperature-high fa-4x"></i>
            <p></p>
            <p>Current Temperature</p>
            <p>25 Celcius</p>
          </div>
        </div>
        <div class="card">
          <div class="card-body text-center">
            <i class="fas fa-door-closed fa-4x"></i>
              <p></p>
              <p>Door Status: Locked</p>
              <button type="button" class="btn btn-secondary">Lock/Unlock</button>
          </div>
        </div>
        <div class="card">
            <div class="card-body text-center">
              <i class="fas fa-couch fa-4x"></i>
              <p class="card-text">Living Room</p>
              <button type="button" id="buttonOne" class="btn btn-secondary" data-toggle="button" aria-pressed="false" autocomplete="off">Button 1</button>
              <button type="button" id="buttonTwo" class="btn btn-secondary" data-toggle="button" aria-pressed="false" autocomplete="off">Button 2</button>
            </div>
          </div>
    </div>  
    <br>
    <div class="card-deck">
        <div class="card">
            <div class="card-body text-center">
              <i class="fas fa-utensils fa-4x"></i>  
              <p class="card-text">Kitchen</p>
              <button type="button" class="btn btn-secondary">Button 1</button>
              <button type="button" class="btn btn-secondary">Button 2</button>
            </div>
        </div>
        <div class="card">
          <div class="card-body text-center">
            <i class="fas fa-bed fa-4x"></i>
            <p class="card-text">Master Bedroom</p>
            <button type="button" class="btn btn-secondary">Button 1</button>
            <button type="button" class="btn btn-secondary">Button 2</button>
          </div>
        </div>
        <div class="card">
          <div class="card-body text-center">
            <i class="fas fa-child fa-4x"></i> 
            <p class="card-text">Kids Room</p>
            <button type="button" class="btn btn-secondary">Button 1</button>
            <button type="button" class="btn btn-secondary">Button 2</button>
          </div>
        </div>
    </div>
    <br>
    <div class="card-deck">
        <div class="card">
          <div class="card-body text-center">
            <i class="fas fa-bath fa-4x"></i>
            <p class="card-text">Bathroom</p>
            <button type="button" class="btn btn-secondary">Button 1</button>
            <button type="button" class="btn btn-secondary">Button 2</button>
          </div>
        </div>
        <div class="card">
          <div class="card-body text-center">
            <i class="fas fa-toilet-paper fa-4x"></i>  
            <p class="card-text">Restroom</p>
            <button type="button" class="btn btn-secondary">Button 1</button>
            <button type="button" class="btn btn-secondary">Button 2</button>
          </div>
        </div>
        <div class="card">
            <div class="card-body text-center">
              <i class="fas fa-car fa-4x"></i>
              <p class="card-text">Garage</p>
              <button type="button" class="btn btn-secondary">Button 1</button>
              <button type="button" class="btn btn-secondary">Button 2</button>
            </div>
        </div>
    </div>
</body>
</html>