<!-- Template that is used as a base to this code is taken from:
https://github.com/PacktPublishing/Practical-Python-Programming-for-IoT/tree/master/chapter03 -->
<!DOCTYPE html>
<html>
<head>
    <title>Smart Home System Demo</title>
    <script src="/static/jquery.min.js"></script>
    <script src="/static/socket.io.js"></script>                            
    <script type="text/javascript">

        var socket = io();

        socket.on('connect', function() {                                     
            console.log("Connected to Server");
            $("#connected").html("Yes");
        });

        socket.on('disconnect', function() {                                 
            console.log("Disconnected from the Server");
            $("#connected").html("No");
        });
        
        //Takes value from server for led1.
        socket.on('led1', function(dataFromServer) {                         
            console.log(dataFromServer)
            if (dataFromServer.level !== undefined) {
                $("input[type=checkbox].checkboxOne").val(dataFromServer.level);
                // $("#checkboxOne").html(dataFromServer.level);
            }
        });

        //Takes value from server for led2.
        socket.on('led2', function(dataFromServer) {                         
            console.log(dataFromServer)
            if (dataFromServer.level !== undefined) {
                $("input[type=checkbox].checkboxTwo").val(dataFromServer.level);
                // $("#checkboxTwo").html(dataFromServer.level);
            }
        });

        //Sends value to the server for led1.
        $(document).ready(function() {  
            //temp value is used for tracking if the checkbox is checked or not. 
            temp1=1;                                    
            // Event listener for value changes.
            $("input[type=checkbox].checkboxOne").on('click', function(){
                if(temp1%2==1){
                    level = "1";
                    payload = {"level": level};
                    socket.emit('led1', payload);
                    temp1=2;
                }else{
                    level = "0";
                    payload = {"level": level};
                    socket.emit('led1', payload);
                    temp1=1;
                }
            });
        });

        //Sends value to the server for led2.
        $(document).ready(function() { 
            //temp value is used for tracking if the checkbox is checked or not.   
            temp2=1;                                    
            // Event listener for value changes.
            $("input[type=checkbox].checkboxTwo").on('click', function(){
                if(temp2%2==1){
                    level = "1";
                    payload = {"level": level};
                    socket.emit('led2', payload);
                    temp2=2;
                }else{
                    level = "0";
                    payload = {"level": level};
                    socket.emit('led2', payload);
                    temp2=1;
                }
            });
        });
    </script>
</head>
<body>
    <h1>Smart Home System Demo</h1>
    LED is connected to GPIO {{pin}}<br>
    Connected to server: <span id="connected">No</span>                    
    <br><br>
    <label for="checkboxOne">Button 1</label>
    <input type="checkbox" name="checkboxOne" value="0" class="checkboxOne" id="checkboxOne">
    <br>
    <label for="checkboxTwo">Button 2</label>
    <input type="checkbox" name="checkboxTwo" value="0" class="checkboxTwo" id="checkboxTwo">
</body>
</html>